Source: mlnx-libsnap
Section: unknown
Priority: optional
Maintainer: Andrii Holovchenko <andriih@nvidia.com>
Build-Depends: debhelper (>= 10), autotools-dev
Standards-Version: 4.1.2
Homepage: www.nvidia.com

Package: mlnx-libsnap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librdmacm1
Description: Library that assists in common tasks when interacting with the emulating hardware in order to present a SNAP device to an external host or a VM.
